@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        @*if the user is in an admin role present them with a link that allows them to see all the clubs*@

        @if (User.Identity.IsAuthenticated && User.IsInRole("ClubAdmin"))
        {
            <li>@Html.ActionLink("Maintain Club", "Index", "Club",
               routeValues: User.Identity.GetUserId(),
               htmlAttributes: new { id = "maintainClub" })</li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
//if the user does not have an autheticated role, redirect them back to the login page  
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
